@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
}

:root {
    --Blue600: hsl(185, 75%, 39%);
    --Navy950: hsl(229, 23%, 23%);
    --Gray500: hsl(227, 10%, 46%);
    --Gray100: hsl(225, 10%, 92%);

    --fs-name-stats: 18px;
}

body {
    width: 100%;
    max-width: 1440px;
    min-height: 100vh;
    background-color: var(--Blue600);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 50vw bottom 30vw, left 50vw top 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
}

.card {
    width:min(90vw, 360px);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2rem;
    background: var(--Gray100);
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 1rem;
    position: relative;
}

.card > img {
    width: 100%;
    object-fit: cover;
}

.content {
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.profile > img {
    position: absolute;
    top: 25%;

    border-radius: 50%;
    border: 5px solid var(--Gray100);
    text-align: center;
    width: 100px;
    height: 100px;
}

.name {
    margin-top: 4rem;
    font-size: var(--fs-name-stats);
    font-weight: 700;
    color: var(--Navy950);
    margin-bottom: .5rem;
}

.name span {
    font-weight: 400;
    color: var(--Gray500);
}

.city {
    font-weight: 400;
    color: var(--Gray500);
    margin-bottom: 1.5rem;
}

hr {
    background: var(--Gray500);
    border: 1px solid var(--Gray500);
}

.comment {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2rem 0;
}

.note h3 {
    font-size: var(--fs-name-stats);
    color: var(--Navy950);
}

.note p {
    font-size: var(--fs-name-stats);
    color: var(--Gray500);
}

@media (max-width: 375px) {
    body {
        background-position: right 40vw bottom 95vw, left 50vw top 90vw;
    }

    .profile > img {
        top: 22%;
    }
}
